/*
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  font-family: 'Noto Sans CJK JP', 'Noto Sans JP', "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Helvetica, Arial, Verdana, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.5;
  min-width: 1100px;
  position: relative;
  color: #333;
  font-size: 14px;
}

html {
  font-size: 62.5%;
}

*,
:before,
:after {
  box-sizing: border-box;
}

.svList,
.svListInner {
  display: flex;
}

.svList.top {
  margin-bottom: 20px;
}

.svItem {
  margin-right: 20px;
  border: 1px solid #a7babf;
  background: url(../img/lt_corner_grey.png), url(../img/rt_corner_grey.png), url(../img/rb_corner_grey.png), url(../img/lb_corner_grey.png);
  background-repeat: no-repeat;
  background-position: left top, right top, right bottom, left bottom;
  padding: 45px 0 40px;
  background-color: #fff;
  width: 260px;
  text-align: center;
  position: relative;
  transition: color 0.3s;
}

/*transition*/
.svItem::before {
  top: 0;
  left: 0;
}

.svItem::before,
.svItem::after {
  border: 3px solid transparent;
  width: 0;
  height: 0;
  box-sizing: inherit;
  content: '';
  position: absolute;
}

.svItem::after {
  bottom: 0;
  right: 0;
}

.svItem:hover::before {
  border-left-color: #7db827;
  border-bottom-color: #7db827;
  transition: height 0.3s ease-out, width 0.3s ease-out 0.3s;
  width: 100%;
  height: 100%;
}

.svItem:hover::after {
  border-top-color: #7db827;
  border-right-color: #7db827;
  transition: height 0.3s ease-out, width 0.3s ease-out 0.3s;
  width: 100%;
  height: 100%;
}

/* ///banner */

.pnBanner {
  display: flex;
}

.pnInner img {
  transition: all 1s;
  position: relative;
}

.pnInner:hover img {
  -webkit-transform: scale(1.05, 1.1);
  transform: scale(1.05, 1.1);
}

.pnInner:hover .pnText {
  border: 1px solid #fff;
}

.pnBox {
  position: relative;
}

.pnBox .pnText {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pnBox .pnText p {
  color: #fff;
  font-size: 24px;
  margin: 0;
  line-height: 1;
  text-align: center;
}

.pnBox .pnText p span {
  font-size: 16px;
}

.pnBox:before {
  position: absolute;
  content: "";
  width: 48px;
  height: 26px;
  left: calc(50% - 24px);
  bottom: 23px;
  background: url('../img/down-arrow.png') transparent no-repeat;
  z-index: 99;
}

/* //animation */
.slideText {
  position: relative;
  width: 100%;
  top: 44%;
  text-align: center;
  /* transform: translate(0%, -50%); */
  height: 100vh;

}

.slideText .bottom {
  color: #fff;
  font-size: 24px;
  font-weight: 100;
  position: relative;
  top: 200px;
  opacity: 0;
}

.slideText .top {
  font-size: 48px;
  margin-bottom: 40px;
  font-weight: 700;
  color: #fff;
  position: relative;
  top: 200px;
  opacity: 0;
}

.posi {
  position: relative;
  background-color: #7db827;
}

/* slider */
.mv__slide {
  height: 100%;
  position: relative;
  overflow: hidden;
  animation: slide 1.5s ease-in-out;
  height: 100vh;
}

.mv__slide--img {
  width: 100%;
  position: absolute;
  height: 100%;
}

.mv__slide--img1 {
  animation: mvSlide 10s infinite ease-in-out -5s forwards;
}

.mv__slide--img2 {
  animation: mvSlide 10s infinite ease-in-out 0s forwards;
}

@keyframes mvSlide {
  0% {
    opacity: 0;
    z-index: 0;
  }

  40% {
    opacity: 0;
  }

  50%,
  90% {
    z-index: 1;
    opacity: 1;
  }

  100% {
    opacity: 0;
    z-index: 0;
  }
}

/* menu */

.menuToggle {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  transition: all 1s ease;
  overflow-y: scroll; }
  .menuToggle .title-section {
    padding: 0;
    margin: 0; }
    .menuToggle .title-section:not(:last-child) {
      border-bottom: 2px solid #aeadad; }
    .menuToggle .title-section__title {
      margin-bottom: 0;
      padding: 30px; }
    .menuToggle .title-section__title-en {
      font-size: 3.2rem; }
    .menuToggle .title-section__title-jp {
      font-size: 2.2rem; }
  .menuToggle__icon {
    height: 90px;
    box-sizing: border-box;
    padding: 20px 20px 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column; }
    .menuToggle__icon * {
      width: 50px;
      height: 4px;
      background-color: #7db827; }
      .menuToggle__icon *:not(:last-child) {
        margin-bottom: 12px; }
    .menuToggle__icon--1 {
      transform: rotate(45deg);
      position: relative;
      top: 18px;
      margin-bottom: 0 !important; }
    .menuToggle__icon--2 {
      transform: rotate(-45deg);
      position: relative;
      top: 14px;
      left: -1px; }
  @media only screen and (max-width: 640px) {
    .menuToggle .title-section__title {
      padding: 3rem; }
    .menuToggle__icon {
      height: 9rem;
      padding: 2rem 2rem 0; }
      .menuToggle__icon * {
        width: 5rem;
        height: .4rem; }
        .menuToggle__icon *:not(:last-child) {
          margin-bottom: 1.2rem; }
      .menuToggle__icon--1 {
        top: 1.8rem; }
      .menuToggle__icon--2 {
        top: 1.4rem;
        left: -0.1rem; } }
.menuToggle__item{
  display: flex;
}


.sticky {
  position: fixed;
  top: 0;
  z-index: 100000;
} 
